.home{
    padding: 2rem 5%;
    display: flex;
    height: calc(100vh - 4rem);
    flex-direction:  column;
    width: 100%;
}


.home > .section {
    width: 100%; /* Sets width to 100% of the parent element (.home) */
    height: 18.75rem; /* Sets height to 18.75rem */
    margin: auto; /* Centers the section horizontally and vertically */
    background: url('../assets/Banner.jpg') no-repeat center / cover; /* Sets the background image */
}

.home > .h1{
    @include heading(1px);
    margin-top: 3rem;
    @include flex(row , space-between, center);
}

.home> .findmore{
    font-size: 1rem;
}
 
.home > main{
    width: 100%;
    flex: 1;
    display:flex;
    gap:1rem;
    overflow-x: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

.pcard{
    
}